@{
    ViewBag.Title = "Contact Gibson Edwards Tax & Accounting";
}
<p>Gibson Edwards Tax & Accounting is a family owned, one stop shop for all your accounting needs. </p>
<br />
<p>
    Hours:
</p>
<p>
    Monday - Thursday: 8:30 AM - 5:30 PM
</p>
<p>
    Friday, Saturday & Sunday:  Closed
</p>