@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

<table>
    <tr>
        <td>
            Bookkeeping
        </td>
    </tr>
    <tr>
        <td>
            Computerized Accounting
        </td>
    </tr>
    <tr>
        <td>
            Contractors License.
        </td>
    </tr>
    <tr>
        <td>
            Data Processing
        </td>
    </tr>
    <tr>
        <td>
            E-File. For Individuals And Small Businesses
        </td>
    </tr>
    <tr>
        <td>
            Locally Owned And Operated By Jerre B. Gibson, CPA.
        </td>
    </tr>
    <tr>
        <td>
            Quickbook Advisor
        </td>
    </tr>
    <tr>
        <td>
            Payroll
        </td>
    </tr>
    <tr>
        <td>
            New Business Setup
        </td>
    </tr>
    <tr>
        <td>
            Reviews And Compilations.
        </td>
    </tr>
    <tr>
        <td>
            Tax Preparation
        </td>
    </tr>
    <tr>
        <td>
            Tax Service. We Will File Your Extensions
        </td>
    </tr>
</table>